* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#recognition>* {
    animation: fadeIn 250ms ease-in-out;
}

.vanta-canvas {
    animation: fadeIn 2s;
}

video {
    animation: fadeIn 250ms ease-in-out;
}

#logo {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 5rem;
    filter: opacity(0.7);
    cursor: pointer;
    transition: 125ms ease-in-out;
}

#logo:hover {
    filter: opacity(1);
}

body {
    background-color: #0b0b0b;
    height: 100vh;
}

.container-emotion {
    width: 50vw;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-emotion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94vh;
    margin: auto;
    padding: 0 2rem;
    position: relative;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

#video-emotion {
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    max-height: 30rem;
}

#canvas-emotion {
    position: absolute;
    left: 0;
}

#emotion {
    display: block;
    width: 40rem;
    text-align: center;
    margin-top: 2rem;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.typing-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #828282;
    padding-right: 10px;
    color: white;
}

#fileInput {
    display: none;
}

.futuristic-button {
    background-color: #00aaff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.futuristic-button:hover {
    background-color: #0077cc;
}

#recognition>h3 {
    display: none;
    color: white;
    border: 1px solid #ffffff4f;
    padding: 1rem 10rem;
    border-radius: 10px;
    background-color: #232527;
    animation: fadeIn 250ms;
}

#image-emotion {
    display: none;
    animation: fadeIn 1s;
}

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

#video-emotion {
    position: relative;
}

.progress-bar-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: 150ms;
    animation: fadeIn 1s;
}

.wrapper {
    position: relative;
}

.progress-bar-percentage {
    position: absolute;
    text-align: center;
    width: 100%;
}

button:active,
button:hover {
    outline: 0;
}

.wrapper {
    width: 500px;
}

.progress-bar {
    width: 100%;
    background-color: #1f2122;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    color: white;
    border: 1px solid #343739;
}

.progress-bar-fill {
    display: block;
    height: 22px;
    width: 0%;
    background-color: #5a5a5a;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Inicia com opacidade zero (invisível) */
    }
    100% {
        opacity: 1;
        /* Termina com opacidade 1 (totalmente visível) */
    }
}