<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="description" content="WebRTC code samples">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta itemprop="description" content="Client-side WebRTC code samples">
    <meta itemprop="image" content="../../../images/webrtc-icon-192x192.png">
    <meta itemprop="name" content="WebRTC code samples">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#ffffff">

    <base target="_blank">

    <title>emotion recognition</title>

    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recognition-image/style.css') }}">

</head>

<body id="body">

  <img id="logo" onclick="window.location.href = '/'" src="{{ url_for('static', filename='images/logo.png') }}">

    <div id="recognition">

      <div id="container">
        <div class="container-emotion">
          <div class="container-emotion-card">
            <section id="dropfile" class="droparea">
              <div class="droparea-description">
                <input id="fileInput" type="file" accept="image/*">
                <label for="fileInput" class="file-input-label">Escolha um arquivo</label>
                <p>&nbsp;ou arraste aqui.</p>
              </div>
              <p><small>Sem limite de tamanho.</small></p>
          </section>

          <div id="image-emotion-container">
            <p id="click-to-remove" class="progress-bar">ℹ️ Clique na imagem para remover.</p>
            <img id="image">
            <canvas id="canvas-emotion" onclick="resetImage()"></canvas>
          </div>

            <h3 id="emotion" class="progress-bar"></h3>
          </div>
        </div>
        
        <div class="progress-bar-container">
            <div class="wrapper">
              <div id="progress-bar-angry" class="progress-bar">
                <span class="progress-bar-percentage">Raiva - 0%</span>
                <span class="progress-bar-fill"></span>
              </div>
            </div>
        
            <div class="wrapper">
              <div id="progress-bar-disgust" class="progress-bar">
                <span class="progress-bar-percentage">Nojo - 0%</span>
                <span class="progress-bar-fill"></span>
              </div>
            </div>
        
            <div class="wrapper">
              <div id="progress-bar-fear" class="progress-bar">
                <span class="progress-bar-percentage">Medo - 0%</span>
                <span class="progress-bar-fill"></span>
              </div>
            </div>
        
            <div class="wrapper">
              <div id="progress-bar-happy" class="progress-bar">
                <span class="progress-bar-percentage">Feliz - 0%</span>
                <span class="progress-bar-fill"></span>
              </div>
            </div>
        
            <div class="wrapper">
              <div id="progress-bar-sad" class="progress-bar">
                <span class="progress-bar-percentage">Triste - 0%</span>
                <span class="progress-bar-fill"></span>
              </div>
            </div>
        
            <div class="wrapper">
              <div id="progress-bar-surprise" class="progress-bar">
                <span class="progress-bar-percentage">Surpreso - 0%</span>
                <span class="progress-bar-fill"></span>
              </div>
            </div>
        
            <div class="wrapper">
              <div id="progress-bar-neutral" class="progress-bar">
                <span class="progress-bar-percentage">Neutro - 0%</span>
                <span class="progress-bar-fill"></span>
              </div>
            </div>
          </div>
            
          </div>
        
            <input type="file" id="fileInput">
        </div>

      <script src="{{ url_for('static', filename='recognition-image/script.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/vantajs/three.min.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/vantajs/vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
        el: "#body",
        mouseControls: false,
        touchControls: false,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x1c1b42,
        backgroundColor: 0xb0b0b,
        points: 16.00,
        maxDistance: 21.00,
        spacing: 18.00
        })
        </script>

</body>